[Unit]
Description=Helios AI Worker Service
After=network.target

[Service]
# El script de instalación reemplazará TU_USUARIO
User=TU_USUARIO
WorkingDirectory=/opt/HeliosAIWorker
ExecStart=/opt/HeliosAIWorker/venv/bin/python worker_linux.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target